.profileLink,
.genreLink {
    margin-top: 0.5em;
}

.profileLink {
    width: 100%;
    color: var(--light-grey);
    font-weight: 600;
}

.genreLink {
    width: 100%;
    margin-bottom: 0.4em;
}

.genreLink .profileLink {
    width: 100%;
    padding: 0.5em 1em;
    border-left: 2px solid transparent;
}

.profileLink.chosenLink {
    color: var(--pure-white);
    border-left: 2px solid var(--call-to-action);
}
