.profileContainer {
    padding: 0.5em 1em;
}

.profileBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profileBox img {
    width: 40px;
    height: 40px;
    margin-right: 0.5em;
}

.profileBoxFlex,
.profileLinkContainer,
.linksContainer {
    display: flex;
    flex-direction: column;
}

.profileName,
.profileLink {
    color: var(--light-grey);
    font-weight: 600;
}

.profileSwitch {
    font-size: 0.8rem;
    color: var(--light-grey);
}

.profileLink,
.genreLink {
    margin-top: 0.5em;
}

.profileLink {
    width: 100%;
}

.genreLink {
    width: 100%;
    margin-bottom: 0.4em;
}

.genreLink .profileLink {
    width: 100%;
    padding: 0.5em 1em;
    border-left: 2px solid transparent;
}

.profileLink.chosenLink {
    color: var(--pure-white);
    border-left: 2px solid var(--call-to-action);
}
