.modal {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
    background-color: var(--greylish);
}

.moreInfoModal {
    min-height: 100vh;
    background-color: var(--pure-white);
}

@media (min-width: 786px) {
    .modal {
        padding: 1em 2em;
    }

    .moreInfoModal {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

@media (min-width: 1200px) {
    .modal {
        padding: 1em 3em;
    }
}
