.infoBox {
    position: relative;
    background-color: var(--pure-white);
}

.buttonBox {
    border-top: 1px solid var(--dark-grey);
    padding: 0.8em 1em;
}

.saveBtn {
    display: block;
    margin: 1em auto;
    width: 100%;
    padding: 0.8em 1em;
    font-size: 0.85rem;
    background-color: var(--call-to-action);
    color: var(--pure-white);
    letter-spacing: 0.5px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.saveBtn:hover {
    background-color: rgb(236, 68, 65);
}

@media (min-width: 768px) {
    .infoBox {
        width: 100%;
        height: 100%;
        max-width: 720px;
        max-height: 630px;
        background-color: var(--pure-white);
    }

    .buttonBox {
        padding: 1em;
    }

    .saveBtn {
        margin: 1em 0;
        width: 200px;
        padding: 0.8em 1em;
        font-size: var(--size-xxxs);
    }
}
