.infoHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding: 1.2em 2em;
    border-bottom: 1px solid var(--dark-grey);
}

.infoHeaderBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    overflow: hidden;
}

.infoHeaderBox h2 {
    display: block;
    line-height: 1.2;
    color: var(--light-black);
    font-size: var(--size-m);
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.infoHeaderBox button {
    display: flex;
    justify-content: center;
    margin-left: 1em;
    border-radius: 50%;
    background-color: var(--pure-white);
    transition: background-color 0.3s;
}

.infoHeaderBox button:hover {
    background-color: rgb(228, 228, 228);
}

@media (min-width: 786px) {
    .infoHeaderBox h2 {
        margin-right: 5em;
        line-height: 1.4;
        font-size: var(--size-xm);
    }
}
