.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 550px;
    padding: 2em;
}

.step {
    color: var(--grey);
    font-weight: 500;
    font-size: 0.87rem;
}

.title {
    margin-bottom: 0.6em;
    font-size: var(--size-xxxm);
    font-weight: 600;
}

.formBox,
.cardNumberBox {
    width: 100%;
}

.formBox input {
    position: relative;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--grey);
    width: 100%;
    padding: 1.4em 0.9em 0.6em;
    margin-top: 0.5rem;
}

.cardNumberContainer,
.cardBoxExpirationContainer,
.cardCVVContainer,
.cardBoxFirstNameContainer,
.cardBoxLastNameContainer {
    position: relative;
}

.cardNumberIcon {
    position: absolute;
    right: 0;
    top: 53%;
    transform: translate(-50%, -50%);
}

.error {
    display: flex;
    align-items: center;
    color: var(--call-to-action-hover);
    font-weight: 500;
    font-size: 0.825rem;
    margin: 0.5em 0;
    display: none;
}

.cardExpirationContainer {
    display: flex;
}

.error img,
.cardBoxExpiration {
    margin-right: 0.3em;
}

.cardBoxCVV {
    margin-left: 0.3em;
}

.cardBoxExpiration,
.cardBoxCVV {
    position: relative;
    width: 50%;
}

.submitBtn {
    width: 100%;
    margin-top: 0.8em;
    border-radius: 5px;
    padding: 0.6em;
    font-size: var(--size-xm);
    background-color: var(--call-to-action);
    color: var(--pure-white);
    font-weight: 500;
    transition: background-color 0.3s;
}

.submitBtn:hover {
    background-color: var(--call-to-action-hover);
}

.botCheck {
    font-size: 0.85rem;
    line-height: 17px;
    color: var(--light-grey);
    margin-top: 1.5em;
}

.botCheck a {
    color: var(--light-blue);
}

.botLink {
    display: block;
    background-color: transparent;
    color: var(--light-blue);
}

.botLink:hover {
    text-decoration: underline;
}

.botCheckHidden {
    display: block;
    margin-top: 2em;
}

.cardNumberLabel,
.cardExpirationDateLabel,
.cardCVVLabel,
.cardFirstNameLabel,
.cardLastNameLabel {
    position: absolute;
    top: 38%;
    left: 5%;
    width: 100%;
    color: var(--light-grey);
    font-size: var(--size-xxxs);
    transition:
        transform 0.2s,
        top 0.2s,
        left 0.2s;
}

.cardExpirationDateLabel,
.cardCVVLabel {
    left: 10%;
}

.cardNumberInput:focus + .cardNumberLabel,
.cardExpirationDateInput:focus + .cardExpirationDateLabel,
.cardCVVInput:focus + .cardCVVLabel,
.cardFirstNameInput:focus + .cardFirstNameLabel,
.cardLastNameInput:focus + .cardLastNameLabel,
.notEmpty + .cardNumberLabel,
.notEmpty + .cardExpirationDateLabel,
.notEmpty + .cardCVVLabel,
.notEmpty + .cardFirstNameLabel,
.notEmpty + .cardLastNameLabel {
    transform: scale(0.75);
    top: 15%;
    left: -8%;
}

.cardExpirationDateInput:focus + .cardExpirationDateLabel,
.cardCVVInput:focus + .cardCVVLabel,
.notEmpty + .cardExpirationDateLabel,
.notEmpty + .cardCVVLabel {
    left: -3%;
}

.cardNumberInput:focus,
.cardExpirationDateInput:focus,
.cardCVVInput:focus,
.cardFirstNameInput:focus,
.cardLastNameInput:focus {
    border: 1px solid var(--lighter-black);
    outline: none;
}

.cardNumberInput.wrongInput,
.cardExpirationDateInput.wrongInput,
.cardCVVInput.wrongInput,
.cardFirstNameInput.wrongInput,
.cardLastNameInput.wrongInput {
    border: 1px solid var(--call-to-action-hover);
}

.cardNumberInput.valid,
.cardExpirationDateInput.valid,
.cardCVVInput.valid,
.cardFirstNameInput.valid,
.cardLastNameInput.valid {
    border: 1px solid var(--darker-green);
}

.error.wrongInput {
    display: flex;
}

@media (min-width: 786px) {
    .step {
        font-size: var(--size-xxxs);
    }

    .title {
        font-size: var(--size-l);
    }
}
