.section {
    width: 100%;
    margin: 1em 0 0.5em;
    padding: 1em;
    border: 2px solid var(--dark-grey);
    background-color: var(--pure-white);
}

.title {
    font-weight: 400;
    font-size: var(--size-m);
    color: var(--light-grey);
}

.dataBox {
    display: flex;
    flex-direction: column;
}

.mailBox,
.cardBox,
.giftBox,
.mailLinks,
.cardLinks {
    margin-top: 1em;
}

.mailDat,
.mailLinks,
.cardData,
.cardLinks {
    border-bottom: 2px solid var(--dark-grey);
}

.mailData {
    border-bottom: 2px solid var(--dark-grey);
}

.mailData span {
    display: block;
    margin-bottom: 1em;
    font-weight: 600;
    color: var(--pure-black);
}

.mailData p {
    margin-bottom: 1em;
}

.cardBox {
    margin-top: 2em;
}

.cardData p {
    margin-bottom: 1em;
}

.cardDataInfo {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.cardDataInfo img {
    margin-right: 0.8em;
}

.cardDataInfo span {
    font-weight: 600;
}

.cancelBtn {
    width: 100%;
    margin-top: 1em;
    padding: 0.5em;
    font-size: var(--size-m);
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid var(--dark-grey);
    background-color: var(--dark-grey);
    transition: background-color 0.3s;
}

.cancelBtn:hover {
    background-color: var(--greylish);
}

@media (min-width: 786px) {
    .section {
        display: flex;
        background-color: transparent;
        flex-direction: column;
        min-width: 650px;
        padding: 0;
        border: none;
        border-top: 1px solid var(--light-grey);
        border-bottom: 1px solid var(--light-grey);
    }

    .title {
        margin-top: 0.5em;
        font-size: var(--size-xm);
    }

    .mailBox,
    .cardBox {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-bottom: 0.5em;
        border-bottom: 1px solid var(--dark-grey);
    }

    .mailData,
    .mailLinks,
    .cardData,
    .cardLinks {
        border-bottom: none;
    }

    .mailData span {
        margin-bottom: 0.6em;
    }

    .mailData p {
        margin-bottom: 0.6em;
    }

    .cardBox {
        margin-top: 1.5em;
    }

    .cardData p {
        margin-bottom: 0.6em;
    }

    .cardDataInfo {
        margin-bottom: 0.6em;
    }

    .cancelBtn {
        max-width: 500px;
        margin: 1em auto;
    }
}

@media (min-width: 1200px) {
    .section {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        width: 1000px;
        padding: 1em 0;
    }

    .title {
        margin-top: 0.3em;
    }

    .dataBox {
        width: 70%;
    }

    .cancelBtn {
        position: absolute;
        top: 50px;
        width: 270px;
    }
}
