.section {
    width: 100%;
    margin: 0.5em 0;
    padding: 1em;
    border: 2px solid var(--dark-grey);
    background-color: var(--pure-white);
}

.title {
    font-weight: 400;
    font-size: var(--size-m);
    color: var(--light-grey);
}

.planBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1em 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--dark-grey);
}

.planBox span {
    margin-right: 0.8em;
    font-weight: 600;
}

.planBox img {
    width: 32px;
    height: 32px;
}

.memberLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8em 0;
}

.memberLink:hover p {
    text-decoration: underline;
}

@media (min-width: 786px) {
    .section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 650px;
        padding: 0 0 0.8em;
        margin: 0;
        border: none;
        border-bottom: 1px solid var(--light-grey);
        background-color: transparent;
        flex-wrap: wrap;
    }

    .title {
        width: 100%;
        margin-top: 0.5em;
        font-size: var(--size-xm);
    }

    .planBox {
        border-bottom: none;
    }

    .planBox span {
        margin-right: 1em;
        font-size: 1.1rem;
    }

    .planBox img {
        width: 34px;
        height: 34px;
    }

    .memberLink {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .memberLink p {
        text-align: right;
        color: var(--light-blue);
    }

    .memberLink span {
        display: none;
    }
}

@media (min-width: 1200px) {
    .section {
        width: 1000px;
        padding: 1em 0;
    }

    .title {
        width: 30%;
        margin-top: 0;
    }

    .planBox {
        width: 61%;
        border-bottom: none;
    }

    .planBox img {
        width: 36px;
        height: 36px;
    }
}
