.section {
    width: 100%;
    margin: 0.5em 0;
    padding: 1em;
    border: 2px solid var(--dark-grey);
    background-color: var(--pure-white);
}

.title {
    margin-bottom: 0.6em;
    font-weight: 400;
    font-size: var(--size-m);
    color: var(--light-grey);
}

.linkBox {
    margin-top: 1em;
}

@media (min-width: 786px) {
    .section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 650px;
        margin: 0.5em 0 3em;
        padding: 0 0 0.8em;
        border: none;
        background-color: transparent;
    }

    .title {
        width: 30%;
        margin-top: 0.5em;
        align-self: flex-start;
        font-size: var(--size-xm);
    }

    .text {
        width: 350px;
    }
}

@media (min-width: 1200px) {
    .section {
        width: 1000px;
        padding: 1em 0;
    }

    .title {
        width: 25%;
        margin-top: 0;
    }
}
