.profilBox {
    padding: 1em 0;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-grey);
}

.profilBox:last-child {
    border-bottom: none;
}

.profilBox img {
    width: 55px;
    height: 55px;
}

.profilInfo {
    margin-left: 0.4em;
}

.profilName {
    font-weight: 600;
}

.profilRate {
    font-size: 0.85rem;
    color: var(--light-grey);
}

.profilArrow {
    margin-left: auto;
    padding: 1em 0.3em 1em 1em;
    background-color: transparent;
}

.profilArrowIcon {
    display: block;
    font-size: 1.2rem;
    transform: rotate(90deg);
    transition: transform 0.2s;
}

.profilArrow:hover span {
    transform: rotate(90deg) scale(1.2);
}

.profilArrow.active span {
    transform: rotate(-90deg) scale(1.2) translateY(-14%);
}

.moreInfoBoxInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5em 0 0 5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid var(--dark-grey);
}

.moreInfoBoxInput {
    width: 28px;
    height: 28px;
    margin-right: 1em;
}

.moreInfoBoxText {
    font-size: 0.9rem;
}

@media (min-width: 786px) {
    .moreInfoBoxInfo {
        margin: 1.5em 0 0 5.5em;
    }

    .moreInfoBoxText {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .profilBox {
        border-bottom: 1px solid var(--dark-grey);
    }
}
