.verifyBox {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2em;
    padding: 1em;
    background-color: rgb(247, 224, 181);
}

.veryfiBoxIcon {
    margin-right: 1em;
    height: 30px;
    width: auto;
}

.verifyBoxTextTitle {
    margin-bottom: 0.4em;
    font-weight: 700;
}

.verifiBoxTextButton {
    margin-top: 0.5em;
    background-color: transparent;
    text-decoration: underline;
}
