.footer {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.2em 0.8em;
}

.iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5em;
}

.icon {
    display: block;
    margin: 1em;
}

.links {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
}

.links a {
    margin-bottom: 1.1em;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 0.875rem;
}

.links a:hover {
    text-decoration: underline;
}

.button {
    width: 100%;
    border-radius: 3px;
    padding: 0.5em 0.8em;
    font-size: 0.87rem;
    background-color: transparent;
    color: var(--light-grey);
    font-weight: 600;
    border: 1px solid var(--light-grey);
    transition:
        border 0.3s,
        color 0.3s;
}

.button:hover {
    color: var(--pure-white);
    border: 1px solid var(--pure-white);
}

.netflixInfo {
    margin-top: 2em;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
}

@media (min-width: 1200px) {
    .footer {
        padding: 2em;
    }

    .links a {
        font-size: var(--size-xxxs);
        margin-bottom: 1.2em;
    }

    .links {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .button {
        padding: 0.6em 0.9em;
        font-size: var(--size-xxxs);
    }

    .netflixInfo {
        font-size: var(--size-xxxs);
    }
}
