.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1500px;
    padding: 1.2em 0.8em;
}

.question,
.links li {
    margin-bottom: 1.1em;
    text-decoration: underline;
    cursor: pointer;
}

.question {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 1.5em;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 1em;
}

.links a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
}

@media (min-width: 1200px) {
    .footer {
        padding: 2em;
    }

    .question,
    .links a {
        margin-bottom: 1.2em;
        font-size: var(--size-m);
    }

    .links {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .links a {
        font-size: var(--size-xxxs);
    }
}
