*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

button {
    font: inherit;
    border: none;
    cursor: pointer;
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

input,
label {
    font: inherit;
}

a {
    text-decoration: none;
}

:root {
    --greylish: rgb(242, 242, 242);
    --dark-grey: rgb(201, 192, 192);
    --grey: rgb(51, 51, 51);
    --light-grey: rgb(140, 140, 140);
    --call-to-action: rgb(229, 21, 19);
    --call-to-action-hover: rgba(197, 17, 14, 0.904);
    --pure-white: rgb(255, 255, 255);
    --dirty-white: rgb(243, 243, 243);
    --pure-black: rgb(0, 0, 0);
    --light-black: rgb(22, 21, 21);
    --lighter-black: rgb(65, 62, 62);
    --light-blue: rgb(0, 113, 235);
    --lighter-blue: rgb(0, 128, 255);
    --success-color: rgb(13, 218, 13);
    --darker-green: hwb(150 15% 31%);
    --error-color: rgb(232, 124, 3);
    --size-s: 0.25rem;
    --size-xs: 0.5rem;
    --size-xxs: 0.75rem;
    --size-xxxs: 1rem;
    --size-m: 1.25rem;
    --size-xm: 1.5rem;
    --size-xxm: 1.75rem;
    --size-xxxm: 2rem;
    --size-l: 2.25rem;
    --size-xl: 2.5rem;
    --size-xxl: 2.75rem;
    --size-xxxl: 3rem;
    --size-vl: 3.25rem;
    --size-xvl: 3.5rem;
    --size-xxvl: 3.75rem;
    --size-xxxvl: 4rem;
}

.closeModalClass {
    display: block;
}

.openCookieText {
    display: block !important;
}

.accordionItemFocus {
    background-color: var(--pure-white) !important;
    border-top: 1px solid var(--pure-black) !important;
    border-bottom: 1px solid var(--pure-black) !important;
    border-left: 10px solid var(--call-to-action) !important;
}

#cookiesModal {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
}

.openQuestionText {
    max-height: 800px !important;
    overflow: visible !important;
    opacity: 1 !important;
}

section {
    border-bottom: 8px solid var(--lighter-black);
}

.right {
    order: 1;
}

.left {
    order: -1;
}
