.inputBox {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0.6em;
}

.inputForm {
    position: relative;
    width: 100%;
}

.inputIcon {
    width: 40px;
    margin-right: 1em;
}

.inputFormInput {
    width: 100%;
    padding: 1.2em 4% 0.6em;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--grey);
}

.inputFormLabel {
    position: absolute;
    top: 40%;
    left: 4%;
    width: 100%;
    color: var(--light-grey);
    font-size: var(--size-xxxs);
    transition:
        transform 0.2s,
        top 0.2s,
        left 0.2s;
}

.inputFormInput:focus + .inputFormLabel,
.notEmpty + .inputFormLabel {
    transform: scale(0.75);
    top: 18%;
    left: -9%;
}

.inputFormInput:focus {
    border: 1px solid var(--lighter-black);
    outline: none;
}

.inputFormInput.wrongInput {
    border: 1px solid var(--call-to-action-hover);
}

.notEmpty.inputFormInput {
    border: 1px solid var(--darker-green);
}

@media (min-width: 786px) {
    .inputBox {
        margin-top: 1em;
    }

    .inputIcon {
        width: 44px;
        margin-right: 1.2em;
    }

    .inputFormInput {
        padding: 1.4em 4% 0.6em;
    }

    .inputFormLabel {
        top: 36%;
        font-size: 1.1rem;
    }

    .inputFormInput:focus + .inputFormLabel,
    .notEmpty + .inputFormLabel {
        transform: scale(0.75);
        top: 18%;
        left: -9%;
    }
}
