.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 550px;
    padding: 2em;
}

.title {
    margin-bottom: 0.4em;
    font-size: var(--size-xxxm);
    font-weight: 700;
}

.text {
    margin-bottom: 0.8em;
}

.submitLink {
    width: 100%;
    margin-top: 0.8em;
    padding: 0.6em;
    border-radius: 5px;
    font-size: var(--size-m);
    background-color: var(--call-to-action);
    color: var(--pure-white);
    font-weight: 500;
    transition: background-color 0.3s;
    text-align: center;
}

.submitLink:hover {
    background-color: var(--call-to-action-hover);
}

@media (min-width: 786px) {
    .step {
        font-size: var(--size-xxxs);
    }

    .title {
        font-size: var(--size-l);
    }
}
