.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--dark-grey);
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    padding: 0.4em;
}

.header img {
    width: 100px;
    height: auto;
}

.loginLink {
    padding: 0.5em;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--grey);
}

.loginLink:hover {
    text-decoration: underline;
}

@media (min-width: 500px) {
    .header img {
        width: 150px;
    }

    .loginLink {
        font-size: var(--size-xxxs);
    }

    .links {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 786px) {
    .header img {
        width: 170px;
    }

    .loginLink {
        font-size: var(--size-m);
    }

    .headerContainer {
        padding: 0.7em 2.2em;
    }
}

@media (min-width: 1200px) {
    .header img {
        width: 180px;
    }
}
