.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 5em;
    padding: 1.3em 1.3em 1.5em;
    background-color: var(--dirty-white);
    border-top: 1px solid var(--dark-grey);
}

.footerContainer {
    width: 100%;
}

.question,
.links a {
    margin-bottom: 1.1em;
    color: rgb(115, 115, 115);
    cursor: pointer;
}

.question:hover,
.links a:hover {
    text-decoration: underline;
}

.question {
    display: block;
    margin-bottom: 2em;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 0.8em;
}

.links a {
    font-size: 0.875rem;
}

@media (min-width: 500px) {
    .header img {
        width: 150px;
        height: 65px;
    }

    .loginLink {
        font-size: var(--size-xxxs);
    }

    .links {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 786px) {
    .footer {
        justify-content: center;
        align-items: center;
        padding: 2em 5em;
    }

    .footerContainer {
        max-width: 1500px;
    }

    .question,
    .links a {
        margin-bottom: 1em;
    }

    .question {
        margin-bottom: 1.6em;
    }

    .links {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 1em;
    }
}

@media (min-width: 1200px) {
    .footerContainer {
        max-width: 1000px;
    }

    .question {
        font-size: 1.1rem;
    }

    .links a {
        font-size: 0.9rem;
    }
}
