.notificationBox {
    display: flex;
    align-items: center;
}

.notificationBox {
    margin: 0 0.5em;
}

.notificationButton {
    padding: 0.5em;
    background-color: transparent;
}

.notificationButton img {
    width: 28px;
    height: auto;
}

.notification {
    position: absolute;
    top: 60px;
    left: -330px;
    display: none;
    width: 400px;
    padding: 1em;
    background-color: var(--pure-black);
    z-index: 100;
    border-radius: 3px;
    border-top: 3px solid var(--pure-white);
    box-shadow: 0 0 3px 0 var(--pure-white);
    transition: opacity 0.3s;
}

.notification.showNotification {
    opacity: 0.75;
    display: flex;
}

.notification.showNotification:hover {
    opacity: 1;
    cursor: pointer;
}

.notification::before {
    content: '';
    position: absolute;
    top: -12px;
    left: 350px;
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 11px solid var(--pure-white);
    z-index: 100;
}

.notificationImageBox {
    height: 63px;
    width: 112px;
    position: relative;
}

.firstShadow,
.secondShadow,
.notificationImageBox img {
    position: absolute;
    height: 56px;
    width: 103px;
    border-radius: 4px;
    box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.24),
        0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.firstShadow {
    left: 3px;
    top: 2px;
    background-color: rgb(219, 219, 215);
    z-index: 2;
}

.secondShadow {
    left: 7px;
    top: 5px;
    background-color: rgb(194, 194, 190);
    z-index: 1;
}

.notificationImageBox img {
    left: 0;
    top: 0;
    z-index: 3;
}

.notificationContent {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.notificationText {
    font-size: 1.1rem;
    color: var(--pure-white);
    line-height: 1.2;
}

.notificationTime {
    margin-top: 0.2em;
    font-size: 0.8rem;
    color: var(--light-grey);
}