.navBox {
    display: flex;
    align-items: center;
}

.netflixLogo {
    width: 160px;
    height: auto;
    margin-left: 0.4em;
}

.profileLink {
    margin-right: 1em;
    font-weight: 500;
    color: var(--pure-white);
    transition: color 0.3s;
}

.profileLink:hover {
    color: var(--light-grey);
}
