.headerRight {
    position: relative;
    display: flex;
    align-items: center;
}

.navBtn {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1em;
    background-color: transparent;
    font-size: var(--size-m);
    color: var(--pure-white);
}

.navBtn.active {
    color: var(--call-to-action);
    font-weight: 600;
}

.navBtn img {
    margin-right: 2em;
}

.navBtn .navBtnIcon {
    position: absolute;
    right: -35px;
    width: 28px;
    height: 28px;
    transition: transform 0.3s;
    transition-delay: 0.3s;
}

.navBtn:hover .navBtnIcon {
    transform: rotate(0.5turn);
    transition-delay: 0s;
}

.navBtn img {
    width: 45px;
    height: 45px;
}

.kidsLink img {
    width: 40px;
    height: 40px;
    margin-left: 1em;
}

.exitKidsBtn {
    width: 100%;
    max-width: 180px;
    margin-left: 0.5em;
    padding: 0.5em 1.2em;
    border-radius: 3px;
    font-size: var(--size-xxxs);
    background-color: var(--call-to-action);
    color: var(--pure-white);
    font-weight: 600;
    border: none;
    transition: background-color 0.3s;
}

.exitKidsBtn:hover {
    background-color: var(--call-to-action-hover);
}
