.notificationBox,
.headerRight {
    display: flex;
    align-items: center;
}

.notificationBox {
    margin: 0 0.5em;
}

.headerRight {
    position: relative;
}

.notificationButton {
    padding: 0.5em;
    background-color: transparent;
}

.notificationButton img {
    width: 28px;
}

.notification {
    position: absolute;
    top: 60px;
    left: -330px;
    display: none;
    width: 400px;
    padding: 1em;
    background-color: var(--pure-black);
    z-index: 100;
    border-radius: 3px;
    border-top: 3px solid var(--pure-white);
    box-shadow: 0 0 3px 0 var(--pure-white);
    transition: opacity 0.3s;
}

.notification.showNotification {
    opacity: 0.75;
    display: flex;
}

.notification.showNotification:hover {
    opacity: 1;
    cursor: pointer;
}

.notification::before {
    content: '';
    position: absolute;
    top: -12px;
    left: 350px;
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 11px solid var(--pure-white);
    z-index: 100;
}

.notificationImageBox {
    height: 63px;
    width: 112px;
    position: relative;
}

.firstShadow,
.secondShadow,
.notificationImageBox img {
    position: absolute;
    height: 56px;
    width: 103px;
    border-radius: 4px;
    box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.24),
        0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.firstShadow {
    left: 3px;
    top: 2px;
    background-color: rgb(219, 219, 215);
    z-index: 2;
}

.secondShadow {
    left: 7px;
    top: 5px;
    background-color: rgb(194, 194, 190);
    z-index: 1;
}

.notificationImageBox img {
    left: 0;
    top: 0;
    z-index: 3;
}

.notificationContent {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.notificationText {
    font-size: 1.1rem;
    color: var(--pure-white);
    line-height: 1.2;
}

.notificationTime {
    margin-top: 0.2em;
    font-size: 0.8rem;
    color: var(--light-grey);
}

.profileBox {
    display: none;
}

.navBtn {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1em;
    background-color: transparent;
    font-size: var(--size-m);
    color: var(--pure-white);
}

.navBtn.active {
    color: var(--call-to-action);
    font-weight: 600;
}

.navBtn img {
    margin-right: 2em;
}

.navBtn .navBtnIcon {
    position: absolute;
    right: -35px;
    width: 28px;
    height: 28px;
    transition: transform 0.3s;
    transition-delay: 0.3s;
}

.navBtn:hover .navBtnIcon {
    transform: rotate(0.5turn);
    transition-delay: 0s;
}

.navBtn img {
    width: 45px;
    height: 45px;
}

.profileBox {
    position: absolute;
    top: 70px;
    left: -70px;
    display: none;
    flex-direction: column;
    width: 220px;
    background-color: var(--pure-black);
    z-index: 100;
    border-radius: 3px;
    border-top: 3px solid var(--pure-white);
    box-shadow: 0 0 3px 0 var(--pure-white);
    transition: opacity 0.3s;
}

.profileBox.showProfile {
    opacity: 0.9;
    display: flex;
}

.profileBox::before {
    content: '';
    position: absolute;
    top: -12px;
    left: 160px;
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 11px solid var(--pure-white);
    z-index: 100;
}

.notificationImageBox {
    position: relative;
    height: 63px;
    width: 112px;
}

.profileLinkContainer {
    display: flex;
    flex-direction: column;
}

.profileBoxFlex {
    display: flex;
    align-items: center;
    padding: 0.2em 1em;
    cursor: pointer;
}

.profileBoxFlex img {
    width: 38px;
    height: 38px;
}

.profileBoxFlex:first-child {
    margin-top: 0.8em;
}

.profileLink,
.profileLinkOut {
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--pure-white);
}

.profileBoxFlex:hover .profileLink,
.profileLinkOut:hover {
    text-decoration: underline;
}

.profileBoxFlexIcon {
    margin-right: 1.4em;
    transform: scale(0.65);
}

.line {
    display: block;
    height: 1px;
    width: 100%;
    margin: 0.5em 0;
    background-color: var(--light-grey);
}

.profileLinkOut:last-child {
    align-self: center;
    padding: 0.5em 0 1em;
    font-size: 0.9rem;
    font-weight: 700;
}

.kidsLink img {
    width: 40px;
    height: 40px;
    margin-left: 1em;
}

.exitKidsBtn {
    width: 100%;
    max-width: 180px;
    margin-left: 0.5em;
    padding: 0.5em 1.2em;
    border-radius: 3px;
    font-size: var(--size-xxxs);
    background-color: var(--call-to-action);
    color: var(--pure-white);
    font-weight: 600;
    border: none;
    transition: background-color 0.3s;
}

.exitKidsBtn:hover {
    background-color: var(--call-to-action-hover);
}
