.listLink,
.addProfileLink {
    width: 24%;
}

.listItem,
.addProfileItem {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.listItem img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    border: 3px solid transparent;
    transition: border 0.3s;
    border-radius: 5px;
}

.listLink:hover .listItem img {
    border: 3px solid var(--pure-white);
}

.listItem span,
.addProfileItem span {
    margin-top: 0.4em;
    transition: color 0.3s;
    text-align: center;
    color: var(--light-grey);
}

.listLink:hover .listItem span,
.addProfileLink:hover .addProfileItem span {
    color: var(--pure-white);
}

.editBcg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78%;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.editBcg img {
    height: 100%;
    width: 100%;
    max-height: 40px;
    max-width: 40px;
    pointer-events: none;
}

.addProfileItem div {
    transition: background-color 0.3s;
}

.addProfileItem:hover.addProfileItem div {
    border-radius: 5px;
    background-color: var(--pure-white);
    height: 100%;
}

.addProfileItem img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

@media (min-width: 450px) {
    .editBcg {
        height: 82%;
    }
}

@media (min-width: 600px) {
    .editBcg {
        height: 144px;
    }
}
