.container {
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin-bottom: 0.8em;
    font-size: var(--size-xxxm);
    color: var(--pure-white);
    font-weight: 600;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8em;
    max-width: 600px;
}

.submitBtn {
    margin-top: 3em;
    width: 100%;
    max-width: 180px;
    border-radius: 3px;
    padding: 0.6em;
    font-size: var(--size-xxxs);
    background-color: transparent;
    color: var(--light-grey);
    border: 1px solid var(--light-grey);
    transition:
        border 0.3s,
        color 0.3s;
}

.submitBtn:hover {
    color: var(--pure-white);
    border: 1px solid var(--pure-white);
}

.loading {
    color: var(--pure-white);
    font-size: var(--size-xxm);
}

@media (min-width: 786px) {
    .title {
        font-size: var(--size-xxl);
    }

    .submitBtn {
        max-width: 240px;
        margin-top: 4em;
        font-size: var(--size-m);
    }
}
