.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    padding: 1em 2em;
}

.title {
    align-self: flex-start;
    margin-bottom: 0.4em;
    font-weight: 500;
}

.dateBox {
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.dateBox img {
    margin-right: 0.8em;
    width: 24px;
    height: auto;
}

.dateBox p {
    font-weight: 600;
}

.sectionExtra {
    width: 100%;
    margin: 0.5em 0;
    padding: 1em;
    border: 2px solid var(--dark-grey);
    background-color: var(--pure-white);
}

.titleExtra {
    margin-bottom: 0.6em;
    font-weight: 400;
    font-size: var(--size-m);
    color: var(--light-grey);
}

.textExtra {
    text-align: left;
}

@media (min-width: 786px) {
    .sectionExtra {
        min-width: 650px;
        margin: 0.5em;
        padding: 0 0 1.2em;
        border: none;
        border-bottom: 1px solid var(--light-grey);
        background-color: transparent;
    }

    .titleExtra {
        width: 100%;
        margin: 0.5em 0;
        font-size: var(--size-xm);
    }

    .textExtra {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .title {
        margin-bottom: 0.5em;
        font-size: var(--size-l);
    }

    .dateBox img {
        margin-right: 1em;
    }

    .boxExtra {
        width: 70%;
    }

    .sectionExtra {
        display: flex;
        align-items: center;
        width: 1000px;
        padding: 1em 0;
    }

    .titleExtra {
        width: 30%;
        margin-top: 0;
        align-self: flex-start;
    }

    .textExtra {
        width: 39%;
    }
}
