.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    padding: 1em 2em;
}

.title {
    align-self: flex-start;
    margin-bottom: 0.4em;
    font-weight: 500;
}

.dateBox {
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.dateBox img {
    margin-right: 0.8em;
}

.dateBox p {
    font-weight: 600;
}

@media (min-width: 1200px) {
    .title {
        font-size: var(--size-l);
        margin-bottom: 0.5em;
    }

    .dateBox img {
        margin-right: 1em;
    }
}
