.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 2000px;
    padding: 0.5em;
}

.netflixLogo {
    width: 160px;
    margin-left: 0.4em;
}

.profileContent {
    position: relative;
    margin-right: 0.8em;
}

.navBtn {
    display: flex;
    align-items: center;
    background-color: transparent;
    position: relative;
    margin-left: 1em;
}

.navBtn .navBtnIcon {
    position: absolute;
    right: -35px;
    width: 28px;
    height: 28px;
    transition: transform 0.3s;
    transition-delay: 0.3s;
}

.navBtn:hover .navBtnIcon {
    transform: rotate(0.5turn);
    transition-delay: 0s;
}

.navBtn img {
    width: 45px;
    height: 45px;
    margin-right: 2em;
}

.profileBox {
    position: absolute;
    top: 60px;
    right: 25px;
    display: none;
    flex-direction: column;
    width: 200px;
    background-color: var(--pure-black);
    z-index: 100;
    border-radius: 3px;
    border-top: 3px solid var(--pure-white);
    box-shadow: 0 0 3px 0 var(--pure-white);
    transition: opacity 0.3s;
}

.profileBox.showProfile {
    display: flex;
    opacity: 0.9;
}

.profileBox::before {
    content: '';
    position: absolute;
    top: -12px;
    left: 160px;
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 11px solid var(--pure-white);
    z-index: 100;
}

.profileLinkContainer {
    display: flex;
    flex-direction: column;
}

.profileBoxFlex {
    display: flex;
    align-items: center;
    padding: 0.2em 1em;
    cursor: pointer;
}

.profileBoxFlex img {
    width: 38px;
    height: 38px;
}

.profileBoxFlex:first-child {
    margin-top: 0.8em;
}

.profileLink,
.profileLinkOut {
    font-weight: 500;
    color: var(--pure-white);
    font-size: 0.85rem;
}

.profileBoxFlex:hover .profileLink,
.profileLinkOut:hover {
    text-decoration: underline;
}

.profileBoxFlexIcon {
    margin-right: 1.4em;
    transform: scale(0.65);
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    margin: 0.5em 0;
    background-color: var(--light-grey);
}

.profileLinkOut:last-child {
    align-self: center;
    padding: 0.5em 0 1em;
    font-weight: 700;
    font-size: 0.9rem;
}
