.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 0.5em 0.5em 0.5em 0.2em;
    z-index: 50;
    border-bottom: none;
}

.header img {
    width: auto;
    height: auto;
}

.headerBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select {
    margin-right: 1em;
    background-color: var(--light-black);
    color: var(--pure-white);
    padding: 0.5em;
    border-radius: 5px;
}

.signBtn {
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 0.85rem;
    background-color: var(--call-to-action);
    color: var(--pure-white);
    letter-spacing: 0.5px;
    font-weight: 500;
    transition: background-color 0.3s;
    text-decoration: none;
}

.signBtn:hover {
    background-color: var(--call-to-action-hover);
}

@media (min-width: 1200px) {
    .header {
        padding: 3em 4em;
    }

    .header img {
        scale: 2;
    }

    .select {
        margin-right: 2em;
        padding: 0.65em 1em;
        font-size: var(--size-xxxs);
    }

    .signBtn {
        padding: 0.4em 1em;
        font-size: var(--size-m);
    }
}
