.heroSection {
    height: 680px;
    width: 100%;
}

.heroShadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 672px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.heroImage {
    width: 100%;
    height: 672px;
    object-fit: cover;
}

.heroContent {
    position: absolute;
    top: 18%;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--pure-white);
}

.heroText h1 {
    font-size: var(--size-xxxm);
    margin-bottom: 0.5em;
    font-weight: 700;
}

.heroText p {
    font-size: var(--size-m);
    font-weight: 400;
    margin-bottom: 0.8em;
    padding: 0 1em;
}

@media (min-width: 786px) {
    .heroText h1 {
        font-size: var(--size-xxxl);
    }

    .heroText p {
        font-size: var(--size-xm);
    }
}
