.heroSection {
    height: 680px;
    width: 100%;
}

.heroShadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 672px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.heroImage {
    width: 100%;
    height: 672px;
    object-fit: cover;
}

.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 18%;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--pure-white);
}

.heroText h1 {
    font-size: var(--size-xxxm);
    margin-bottom: 0.5em;
    font-weight: 700;
}

.heroText p {
    font-size: var(--size-m);
    font-weight: 400;
    margin-bottom: 0.8em;
    padding: 0 1em;
}

@media (min-width: 786px) {
    .heroSection {
        height: 700px;
    }

    .heroShadow {
        height: 692px;
    }

    .heroImage {
        height: 692px;
    }

    .heroContent {
        position: absolute;
        top: 22%;
    }

    .heroText h1 {
        font-size: var(--size-xl);
    }

    .heroText p {
        font-size: var(--size-m);
    }
}

@media (min-width: 1200px) {
    .heroSection {
        height: 800px;
    }

    .heroShadow {
        height: 792px;
    }

    .heroImage {
        height: 792px;
    }

    .heroContent {
        position: absolute;
        top: 30%;
        max-width: 1400px;
    }

    .heroText h1 {
        font-size: var(--size-xvl);
    }

    .heroText p {
        font-size: var(--size-xxm);
    }
}
