.membershipBox {
    color: var(--pure-white);
    width: 100%;
    text-align: center;
}

.membershipBox p {
    font-size: var(--size-m);
    font-weight: 400;
    margin-bottom: 0.8em;
    padding: 0 1em;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBox input {
    width: 80%;
    padding: 0.8em;
    margin-bottom: 1.4em;
    background-color: rgba(24, 23, 23, 0.8);
    border: 2px solid var(--lighter-black);
    border-radius: 5px;
    color: var(--pure-white);
}

.inputBox input:focus {
    outline: none;
    border: 2px solid var(--pure-white);
}

.button {
    border-radius: 5px;
    padding: 0.55em 1.2em;
    font-size: var(--size-m);
    background-color: var(--call-to-action);
    color: var(--pure-white);
    letter-spacing: 0.5px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.buttonFinish {
    font-size: var(--size-xm);
    margin-top: 0.5em;
}

.button:hover {
    background-color: var(--call-to-action-hover);
}

.inputBox input.valid {
    border: 2px solid var(--success-color) !important;
}

.inputBox input.error {
    border: 2px solid var(--call-to-action) !important;
}

@media (min-width: 786px) {
    .membershipBox {
        max-width: 700px;
    }

    .inputBox {
        flex-direction: row;
    }

    .membershipBox input {
        width: 60%;
        margin: 0 1em;
    }

    .buttonSign {
        width: 33%;
        padding: 0.6em 1.4em;
    }
}

@media (min-width: 1200px) {
    .membershipBox p {
        font-size: var(--size-xm);
    }

    .membershipBox input {
        width: 65%;
        padding: 1.1em;
        font-size: 1.15rem;
    }

    .buttonSign {
        width: 35%;
        padding: 0.7em;
        font-size: var(--size-xm);
    }

    .buttonFinish {
        font-size: var(--size-xxm);
        margin-top: 0.5em;
        padding: 0.6em 1.4em;
    }
}
