.accordion {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 3em;
}

.accordionBox {
    margin-bottom: 0.6em;
}

.accordionItem {
    padding: 1.4em;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.125rem;
    transition: background-color 0.3s;
    color: var(--pure-white);
    background-color: rgb(45, 45, 45);
    border-bottom: 1px solid var(--pure-black);
}

.accordionItem:hover {
    background-color: rgb(59, 58, 58);
}

.accordionText {
    overflow: hidden;
    opacity: 0;
    font-size: 1.125rem;
    max-height: 0;
    transition: all 0.4s;
    color: var(--pure-white);
    background-color: rgb(45, 45, 45);
}

.accordionText p {
    padding: 1.5em;
}

.accordionText span {
    display: block;
}

@media (min-width: 786px) {
    .accordionBox {
        margin-bottom: 0.7em;
    }

    .accordionItem {
        font-size: var(--size-m);
    }

    .accordionText {
        font-size: var(--size-m);
    }
}

@media (min-width: 1200px) {
    .accordionBox {
        margin-bottom: 0.8em;
    }

    .accordionItem {
        font-size: var(--size-xxm);
    }

    .accordionText {
        font-size: var(--size-xxm);
    }
}
