.container {
    color: var(--pure-white);
}

.line {
    height: 1px;
    width: 100%;
    margin: 0.8em 0;
    background-color: var(--light-grey);
}

.nameInput,
.gameBoxInput {
    width: 100%;
    padding: 0.4em 0.6em;
    margin-bottom: 0.4em;
    border: 1px solid transparent;
    color: var(--pure-white);
    background-color: var(--lighter-black);
    transition: border 0.3s;
}

.nameInput::placeholder,
.gameBoxInput::placeholder {
    color: var(--pure-white);
}

.error {
    display: none;
    margin-left: 0.2em;
    font-size: 0.9rem;
    color: var(--call-to-action);
}

.nameInput.empty + .error {
    display: block;
}

.nameInput.empty {
    border: 1px solid var(--call-to-action);
}

.selectBox {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.selectBoxSpan,
.gameBoxSpan {
    display: block;
    margin-bottom: 0.4em;
    color: var(--dark-grey);
}

.selectBoxSelect {
    width: 100px;
    padding: 0.3em;
    color: var(--pure-white);
    background-color: var(--lighter-black);
}

.gameBox {
    margin-top: 1.5em;
}

.gameBoxText {
    margin-bottom: 1em;
    font-size: 0.8rem;
}

.gameBoxCounter {
    display: block;
    font-size: 0.9rem;
    text-align: right;
}

.gameBoxCounter.good {
    color: var(--success-color);
}

.gameBoxCounter.wrong {
    color: var(--call-to-action);
}

@media (min-width: 786px) {
    .line {
        margin: 1em 0;
    }

    .nameInput,
    .gameBoxInput {
        padding: 0.5em 0.6em;
    }

    .selectBoxSpan,
    .gameBoxSpan {
        margin-bottom: 0.6em;
    }

    .selectBoxSelect {
        padding: 0.4em;
    }

    .gameBoxText {
        font-size: 0.9rem;
    }

    .gameBoxCounter {
        font-size: 1rem;
    }
}
