.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1em;
    background-color: rgb(20, 20, 20);
}

.wrapper {
    width: 100%;
    max-width: 600px;
    padding: 1em;
}

.title {
    font-size: var(--size-xxl);
    color: var(--pure-white);
    font-weight: 500;
}

.line {
    height: 1px;
    width: 100%;
    margin: 0.8em 0;
    background-color: var(--light-grey);
}

.contentBox {
    display: flex;
}

@media (min-width: 786px) {
    .wrapper {
        max-width: 650px;
    }

    .title {
        font-size: var(--size-xxxl);
        color: var(--pure-white);
        font-weight: 500;
    }

    .line {
        margin: 1em 0;
        height: 1px;
    }
}
