.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 2000px;
    padding: 0.5em;
}

.searchBox,
.searchContent {
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput {
    background-color: var(--pure-black);
    border: 2px solid var(--pure-white);
    color: var(--grey);
    width: 120px;
    transform: scale(1);
    padding: 0.3em 0.5em;
}

.searchInput::placeholder {
    color: var(--light-grey);
}
