.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    padding: 0.2em 0.5em;
}

.content {
    display: flex;
    align-items: center;
}

.burgerBtn {
    background-color: transparent;
}

.burgerImg {
    width: 40px;
}

.netflixLogo {
    margin-left: 0.4em;
    width: 110px;
}

.navWrapper {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    transition:
        background-color 0.3s,
        transform 0.3s;
    transform: translateX(-100%);
}

.navigation {
    width: 250px;
    height: 100%;
    background-color: var(--pure-black);
    z-index: 50px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.navWrapper.visible {
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateX(0);
}

.navWrapper.visible .navigation {
    transform: translateX(0);
}

.searchInput {
    background-color: var(--grey);
    border: 2px solid var(--light-grey);
    color: var(--pure-white);
    width: 120px;
    padding: 0.3em 0.5em;
}

.searchInput::placeholder {
    color: var(--light-grey);
}

.profileContainer {
    padding: 0.5em 1em;
}

.profileBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profileBox img {
    width: 40px;
    height: 40px;
    margin-right: 0.5em;
}

.profileBoxFlex,
.profileLinkContainer,
.linksContainer {
    display: flex;
    flex-direction: column;
}

.profileName,
.profileLink {
    color: var(--light-grey);
    font-weight: 600;
}

.profileSwitch {
    color: var(--light-grey);
    font-size: 0.8rem;
}

.profileLink,
.genreLink {
    margin-top: 0.5em;
}

.profileLink {
    width: 100%;
}

.line {
    margin: 0.8em 0;
    height: 1px;
    width: 100%;
    background-color: var(--grey);
}

.genreLink {
    margin-bottom: 0.4em;
    width: 100%;
}

.genreLink .profileLink {
    padding: 0.5em 1em;
    border-left: 2px solid transparent;
    width: 100%;
}

.profileLink.chosenLink {
    color: var(--pure-white);
    border-left: 2px solid var(--call-to-action);
}

@media (min-width: 520px) {
    .searchInput {
        width: 200px;
    }
}
