.header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.3em;
    z-index: 50;
    border-bottom: none;
    background-color: var(--pure-black);
    z-index: 10000;
}
