.content {
    padding: 0.8em;
    color: var(--pure-white);
}

.title {
    margin-bottom: 0.8em;
    font-size: var(--size-xxxm);
    font-weight: 600;
}

.form {
    width: 100%;
}

.formBox {
    margin-bottom: 0.8em;
    width: 100%;
}

.formContent {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.emailInput,
.passwordInput {
    padding: 1.4em 1em 0.7em;
    font-weight: 600;
    background-color: var(--grey);
    border-radius: 5px;
    border: none;
    color: var(--pure-white);
}

.emailLabel,
.passwordLabel {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 100%;
    color: var(--light-grey);
    font-size: var(--size-xxxs);
    transition:
        transform 0.2s,
        top 0.2s,
        left 0.2s,
        background-color 0.2s;
}

.emailInput:focus + .emailLabel,
.passwordInput:focus + .passwordLabel,
.notEmpty + .emailLabel,
.notEmpty + .passwordLabel {
    transform: scale(0.75);
    top: 2%;
    left: -8%;
}

.emailInput:focus,
.passwordInput:focus {
    background-color: rgb(73, 71, 71);
    outline: none;
}

.emailInput.wrongInput,
.passwordInput.wrongInput {
    border-bottom: 2px solid var(--error-color);
}

.error.wrongInput,
.errorGeneral.wrongInput {
    display: block;
}

.error,
.errorGeneral {
    display: none;
    margin-top: 0.5em;
    font-size: 0.825rem;
    color: var(--error-color);
}

.errorGeneral {
    margin-top: 0.8em;
    font-size: 1rem;
    text-align: center;
}

.sumbitBtn {
    width: 100%;
    margin-top: 0.8em;
    padding: 0.9em;
    font-size: var(--size-xxxs);
    border-radius: 5px;
    background-color: var(--call-to-action);
    color: var(--pure-white);
    font-weight: 700;
    transition: background-color 0.3s;
}

.sumbitBtn:hover {
    background-color: var(--call-to-action-hover);
}

.inputBox input.valid {
    border: 2px solid var(--success-color) !important;
}

.inputBox input.error {
    border: 2px solid var(--call-to-action) !important;
}

@media (min-width: 786px) {
    .content {
        align-self: center;
        justify-self: center;
        width: 450px;
        height: 660px;
        padding: 3em 4em;
        margin-bottom: 8em;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 5px;
    }

    .title {
        font-size: var(--size-l);
    }

    .formBox {
        margin-bottom: 1em;
    }

    .sumbitBtn {
        padding: 0.5em 1em;
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {
    .content {
        padding: 3em 4.5em;
        margin-bottom: 9.5em;
    }
}
