.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.3em 1.3em 3em;
    background-color: var(--pure-black);
}

.footerContainer {
    width: 100%;
}

.question,
.links a {
    margin-bottom: 1.1em;
    color: rgb(115, 115, 115);
    cursor: pointer;
}

.question:hover,
.links a:hover {
    text-decoration: underline;
}

.question {
    display: block;
    margin-bottom: 2em;
}

.links {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
}

.links a {
    font-size: 0.875rem;
}

.select {
    position: relative;
    background-color: transparent;
    color: rgb(115, 115, 115);
    padding: 1.1em 1.5em;
    border-radius: 5px;
}

.select option {
    background-color: var(--pure-black);
    color: rgb(115, 115, 115);
}

@media (min-width: 786px) {
    .footer {
        position: sticky;
        bottom: 0;
        justify-content: center;
        align-items: center;
        padding: 2em 5em;
        background-color: rgba(0, 0, 0, 0.85);
    }

    .footerContainer {
        max-width: 1500px;
    }

    .question,
    .links a {
        margin-bottom: 1em;
    }

    .question {
        margin-bottom: 1.8em;
    }

    .links {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 1.2em;
    }

    .select {
        background-color: var(--pure-black);
        padding: 1.1em 1.8em;
    }
}

@media (min-width: 786px) {
    .footerContainer {
        max-width: 1000px;
    }

    .question {
        font-size: 1.1rem;
    }

    .links a {
        font-size: 0.9rem;
    }
}
