.crewSection {
    max-width: 1600px;
    width: 100%;
    padding: 2em 1.5em;
    border-bottom: none;
}

.title {
    margin-bottom: 0.5em;
    color: var(--dark-grey);
    font-weight: 600;
}

.detailBox {
    width: 100%;
    column-count: 2;
}

.detailColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detailTitle {
    margin-top: 0.6em;
    font-weight: 500;
    font-size: var(--size-m);
    color: var(--light-grey);
}

.detailTitleFirst {
    margin-top: 0;
}

.detailItem {
    display: block;
    margin-top: 0.4em;
    color: var(--dark-grey);
}

@media (min-width: 786px) {
    .crewSection {
        padding: 2em;
    }

    .title {
        margin-bottom: 0.6em;
        font-size: var(--size-xxm);
    }

    .detailBox {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: var(--size-xxm);
    }

    .detailBox {
        column-count: 4;
    }

    .detailTitle {
        font-size: 1.4rem;
    }

    .detailTitleFirst {
        margin-top: 0;
    }

    .detailItem {
        font-size: 1.1rem;
    }
}
