.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    padding: 0.5em;
}

.netflixLogo {
    width: 160px;
    margin-left: 0.4em;
}

.navBox,
.searchBox {
    position: relative;
    display: flex;
    align-items: center;
}

.navBtn {
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: 1em;
    font-size: var(--size-m);
    color: var(--pure-white);
}

.navBtn.active {
    color: var(--call-to-action);
    font-weight: 600;
}

.navBtn:disabled {
    color: var(--light-grey);
}

.navBtn img {
    width: 45px;
    height: 45px;
    margin: 0 1em 0 0.4em;
}

.browseNav,
.kidsNav,
.profileBox {
    display: none;
}

.navigation {
    display: flex;
    height: 100%;
    padding: 0.5em;
}

.homeNav {
    height: 100%;
    padding-right: 4em;
    border-right: 2px solid var(--pure-white);
}

.genreLink {
    margin-top: 0.2em;
}

.profileLink {
    font-weight: 500;
    color: var(--pure-white);
}

.profileLink:hover {
    text-decoration: underline;
}

.navListItems {
    padding: 0 1.2em;
}

.linksContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 3em;
    width: 100%;
}

.linksContainer .profileLink {
    font-weight: 400;
}

.searchBox {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.searchInput {
    width: 120px;
    padding: 0.3em 0.5em;
    background-color: var(--grey);
    border: 2px solid var(--light-grey);
    color: var(--pure-white);
}

.searchInput::placeholder {
    color: var(--light-grey);
}

.browseNav.active,
.profileBox.active,
.kidsNav.active {
    position: absolute;
    top: 70px;
    left: 180px;
    display: block;
    height: 140px;
    width: 650px;
    padding: 0.5em;
    background-color: var(--pure-black);
    z-index: 100;
    border-radius: 3px;
    border-top: 3px solid var(--pure-white);
}

.browseNav.active::before,
.profileBox.active::before,
.kidsNav.active::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 20px;
    display: block;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 13px solid var(--pure-white);
    z-index: 100;
}

.profileBox.active {
    height: 150px;
    width: 160px;
}

.profileBox.active::before {
    left: 110px;
}

.kidsNav.active {
    left: 260px;
}

.profileBoxFlex {
    padding: 0.3em 0.3em 0.5em;
    border-bottom: 2px solid var(--pure-white);
}

.profileLinkContainer {
    display: flex;
    flex-direction: column;
    padding: 0 0.3em;
}

.profileLinkContainer .profileLink {
    margin-top: 0.4em;
}

.exitKidsBtn {
    width: 100%;
    max-width: 180px;
    margin-left: 1.5em;
    padding: 0.5em 1.2em;
    border-radius: 3px;
    font-size: var(--size-xxxs);
    background-color: var(--call-to-action);
    color: var(--pure-white);
    font-weight: 600;
    border: none;
    transition: background-color 0.3s;
}

.exitKidsBtn:hover {
    background-color: var(--call-to-action-hover);
}

@media (min-width: 520px) {
    .searchInput {
        width: 200px;
    }
}
