.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 0.5em 0.5em 0.5em 0.2em;
    z-index: 50;
    border-bottom: none;
}

.header img {
    width: auto;
    height: auto;
}

.headerBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signBtn {
    padding: 0.5em 1em;
    margin-right: 0.5em;
    font-size: 0.85rem;
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-weight: 500;
    background-color: var(--call-to-action);
    color: var(--pure-white);
    transition: background-color 0.3s;
    text-decoration: none;
}

.signBtn:hover {
    background-color: var(--call-to-action-hover);
}

@media (min-width: 1200px) {
    .header {
        padding: 3em 4em;
    }

    .header img {
        scale: 2;
    }

    .signBtn {
        padding: 0.4em 1em;
        font-size: var(--size-m);
    }
}
