.movieBox {
    position: relative;
    overflow: hidden;
}

.movieLink {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieImg {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.moreInfoBox {
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: -10%;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition:
        opacity 0.3s,
        transform 0.3s;
    pointer-events: none;
    z-index: 0;
}

.movieLink:hover .movieImg {
    transform: scale(1.2);
    border-radius: 5px;
    z-index: 1;
}

.hugeNumber {
    display: none;
}

@media (min-width: 992px) {
    .hugeNumber {
        position: absolute;
        display: flex;
        font-size: 5rem;
        top: 0;
        left: 0;
        color: var(--pure-white);
        z-index: 200;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        transition: opacity 0.2s;
    }
}

@media (min-width: 1300px) {
    .hugeNumber {
        font-size: 6em;
    }
}

@media (min-width: 1600px) {
    .movieLink:hover .hugeNumber {
        opacity: 0;
    }

    .movieLink:hover:before,
    .movieBox:hover .movieLink:before {
        content: '';
        position: absolute;
        top: 65%;
        right: 0;
        width: 100%;
        height: 35%;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transition:
            opacity 0.3s,
            transform 0.3s;
        z-index: 2;
    }

    .movieLink:hover:before,
    .movieBox:hover .movieLink:before {
        opacity: 1;
        transform: scaleX(1.2) scaleY(1.9);
    }

    .movieBox:hover .moreInfoBox {
        opacity: 1;
        pointer-events: all;
        transform: translateY(-30%);
        z-index: 3;
    }

    .hugeNumber {
        font-size: 7rem;
    }
}

@media (min-width: 1760px) {
    .movieLink:hover:before,
    .movieBox:hover .movieLink:before {
        top: 70%;
        height: 35%;
    }

    .movieBox:hover .moreInfoBox {
        transform: translateY(-35%);
    }
}

@media (min-width: 1920px) {
    .movieLink:hover:before,
    .movieBox:hover .movieLink:before {
        height: 35%;
    }

    .hugeNumber {
        font-size: 8rem;
    }
}
