.select {
    margin-right: 1em;
    padding: 0.5em;
    border-radius: 5px;
    background-color: var(--light-black);
    color: var(--pure-white);
}

.white {
    background-color: var(--pure-white);
    color: var(--light-black);
}

@media (min-width: 1200px) {
    .select {
        margin-right: 2em;
        padding: 0.65em 1em;
        font-size: var(--size-xxxs);
    }
}
