.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 380px;
    max-height: 600px;
    padding: 5em 2.4em;
    margin-bottom: 5em;
}

.checkIcon {
    margin-bottom: 1em;
}

.step {
    margin-bottom: 0.4em;
    color: var(--grey);
    font-weight: 500;
    font-size: 0.87rem;
}

.title {
    margin-bottom: 1em;
    font-size: var(--size-xxxm);
    font-weight: 600;
}

.box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.checkSign {
    margin-right: 1em;
    width: auto;
}

.text {
    font-size: 1.125rem;
    line-height: 23px;
}

.button {
    width: 100%;
    margin-top: 1em;
    padding: 0.7em 1em;
    border-radius: 4px;
    font-size: var(--size-xm);
    background-color: var(--call-to-action);
    color: var(--pure-white);
    font-weight: 600;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--call-to-action-hover);
}

@media (min-width: 786px) {
    .container {
        max-width: 440px;
        max-height: 650px;
        margin-bottom: 0;
        align-items: center;
    }

    .step {
        font-size: var(--size-xxxs);
    }

    .title {
        text-align: center;
        font-size: var(--size-l);
    }

    .text {
        font-size: var(--size-m);
        line-height: 26px;
    }

    .button {
        margin-top: 1.2em;
    }
}
